/* ========================
  main
======================== */
.skills-cube {
  width: 26vw;
  height: 22vw;
  position: absolute;
  top: calc(50% - 7.5vw);
  right: 15vw;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.skills-cube::before {
  content: '';
  position: absolute;
  top: calc(50% - 3.75vw);
  left: calc(50% - 3.75vw);
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 7.5vw;
  background: radial-gradient(#0062ff, .75vw, transparent 62%);
}

.skills-cube:hover {
  transform: scale(1.2);
}

.skills-cube__inner {
  position: absolute;
  top: calc(50% - 7.5vw);
  right: calc(50% - 7.5vw);
  width: 15vw;
  height: 15vw;
  transform-style: preserve-3d;
}

.current-tab .skills-cube__inner {
  animation: rotateCube 10s linear infinite;
}

.skills-cube__side {
  position: absolute;
  width: 15vw;
  height: 15vw;
  filter: brightness(.3);
  transition: .5s;
}

.skills-cube:hover .skills-cube__side {
  filter: brightness(1);
}

.skills-cube__side::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: radial-gradient(transparent, #000000ba); */
  background: radial-gradient(transparent, #002643);
}


/*
  skills cube property
======================== */

.skills-cube__side-0 {
  top: 0;
  left: 0;
  transform: translateZ(7.5vw);
  background: url(../images/main/html_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-1 {
  top: 0;
  left: -15vw;
  transform: translateZ(7.5vw) rotateY(-90deg);
  transform-origin: right;
  background: url(../images/main/css_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-2 {
  top: 0;
  left: 15vw;
  transform: translateZ(7.5vw) rotateY(90deg);
  transform-origin: left;
  background: url(../images/main/js_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-3 {
  top: -15vw;
  left: 0;
  transform: translateZ(7.5vw) rotateX(90deg);
  transform-origin: bottom;
  background: url(../images/main/php_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-4 {
  top: 15vw;
  left: 0;
  transform: translateZ(7.5vw) rotateX(-90deg);
  transform-origin: top;
  background: url(../images/main/golang_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-5 {
  top: 0;
  left: 0;
  transform: translateZ(-7.5vw) rotateY(180deg);
  transform-origin: bottom;
  background: url(../images/main/mysql_icon.png) center no-repeat;
  background-size: 50%;
}


/* ========================
  animation
======================== */

@keyframes rotateCube {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }

  100% {
    transform: rotateY(720deg) rotateX(360deg);
  }
}