.skills-cube {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  position: absolute;
  top: calc(50% - 100px);
  right: 200px;
  animation: rotateCube 10s linear infinite;
}

.skills-cube__side {
  position: absolute;
  width: 200px;
  height: 200px;
}

.skills-cube__side::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent, #000000ba);
}


.skills-cube__side-0 {
  top: 0;
  left: 0;
  transform: translateZ(100px);
  background: url(../images/html_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-1 {
  top: 0;
  left: -200px;
  transform: translateZ(100px) rotateY(-90deg);
  transform-origin: right;
  background: url(../images/css_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-2 {
  top: 0;
  left: 200px;
  transform: translateZ(100px) rotateY(90deg);
  transform-origin: left;
  background: url(../images/js_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-3 {
  top: -200px;
  left: 0;
  transform: translateZ(100px) rotateX(90deg);
  transform-origin: bottom;
  background: url(../images/php_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-4 {
  top: 200px;
  left: 0;
  transform: translateZ(100px) rotateX(-90deg);
  transform-origin: top;
  background: url(../images/golang_icon.png) center no-repeat;
  background-size: 50%;
}

.skills-cube__side-5 {
  top: 0;
  left: 0;
  transform: translateZ(-100px) rotateY(180deg);
  transform-origin: bottom;
  background: url(../images/mysql_icon.png) center no-repeat;
  background-size: 50%;
}


@keyframes rotateCube {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(720deg) rotateX(360deg);
  }
}