body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#content-slider {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  transition: transform 1s;
  display: flex;
}

.slider.horizontal-slider > .slider-inner {
  flex-direction: row;
}
.slider.vertical-slider > .slider-inner {
  flex-direction: column;
}


#content-slider .frame {
  width: 100vw;
  height: 100vh;
}

.slider-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot-item {
  width: 10px;
  height: 10px;
  background: #000;
  margin: 5px;
  cursor: pointer;
}




.second-slider {
  position: relative;
}