/* ========================
  imports css files
======================== */
@import url(./menu.css);
@import url(./cube.css);
@import url(./navigation-keyboard.css);
@import url(./tabs/main.css);
@import url(./tabs/about.css);
@import url(./tabs/skills.css);
@import url(./tabs/project.css);
@import url(./tabs/contact.css);


/* ========================
  main
======================== */
body {
  width: 100vw;
  height: 100vh;
  font-family: Arial;
  background: url(../images/main/background.jpg) center no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.pages {
  display: none;
}

/* .logo {
  position: absolute;
  top: 2vw;
  left: 5vw;
  width: 5vw;
  height: 5vw;
  background: url(../images/logo.png) center no-repeat;
  background-size: contain;
  z-index: 9;
} */


/* ========================
  content
======================== */
.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.content__tab-cube {
  width: 100vw;
  height: 100vh;
  color: #fff;
  transition: .5s;
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
}

.perspective-animation .content {
  perspective: 3000px;
}

.perspective-animation .content__tab-cube {
  transform-style: flat;
}

.menu-opened .content__tab-cube {
  transform: translateZ(-1000px) translateX(20%) rotateY(-45deg);
}


/*
  text content
======================== */
.title {
  text-align: center;
}

.description {
  position: absolute;
  left: 5vw;
  top: 15vw;
  width: 50%;
  font-size: 2vw;
  line-height: 1.5;
  pointer-events: none;
}

.main-tab .description {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  padding: 8vw 15vw;
  box-sizing: border-box;
}


/*
  cube inner
======================== */
.current-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform-origin: center;
  transform: translateZ(50vh);
  background: radial-gradient(transparent, #071f32);
}

.next-tab {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(-50vh) rotateX(90deg);
  transform-origin: top;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(transparent, #071f32);
}

.menu-opened .next-tab {
  opacity: 0;
}


/*
  next tab position
======================== */
.next-tab__top .next-tab {
  transform: translateZ(-50vh) rotateX(90deg);
  transform-origin: top;
}

.next-tab__bottom .next-tab {
  transform: translateZ(-50vh) rotateX(-90deg);
  transform-origin: bottom;
}

.next-tab__left .next-tab {
  transform: translateZ(-50vw) rotateY(-90deg);
  transform-origin: left;
}

.next-tab__right .next-tab {
  transform: translateZ(-50vw) rotateY(90deg);
  transform-origin: right;
}

.next-tab__top .current-tab,
.next-tab__bottom .current-tab {
  transform: translateZ(50vh);
}

.next-tab__left .current-tab,
.next-tab__right .current-tab {
  transform: translateZ(50vw);
}


/*
  attache animation
======================== */
.content__tab-cube.next-tab__top {
  animation: rotateContentCubeTop 1.2s linear;
}

.content__tab-cube.next-tab__bottom {
  animation: rotateContentCubeBottom 1.2s linear;
}

.content__tab-cube.next-tab__left {
  animation: rotateContentCubeLeft 1.2s linear;
}

.content__tab-cube.next-tab__right {
  animation: rotateContentCubeRight 1.2s linear;
}


/* ========================
  animation
======================== */
@keyframes rotateContentCubeTop {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(.7);
  }

  70% {
    transform: scale(.7) rotateX(-90deg);
  }

  100% {
    transform: scale(1) rotateX(-90deg);
  }
}

@keyframes rotateContentCubeBottom {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(.7);
  }

  70% {
    transform: scale(.7) rotateX(90deg);
  }

  100% {
    transform: scale(1) rotateX(90deg);
  }
}

@keyframes rotateContentCubeLeft {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(.7);
  }

  70% {
    transform: scale(.7) rotateY(90deg);
  }

  100% {
    transform: scale(1) rotateY(90deg);
  }
}

@keyframes rotateContentCubeRight {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(.7);
  }

  70% {
    transform: scale(.7) rotateY(-90deg);
  }

  100% {
    transform: scale(1) rotateY(-90deg);
  }
}





/* transform: translateZ(-1800px) translateX(-50%) translateY(50%) rotateY(45deg); */
/* perspective: 1500px; */