/* ================
    menu icon
  ================ */
.menu__icon {
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
  z-index: 2;
}

.menu__line {
  position: absolute;
  width: 100%;
  height: .3vw;
  background: #fff;
  transform-origin: center;
}

.menu__line-0 {
  top: .3vw;
}

.menu__line-1 {
  top: calc(50% - .3vw/2);
  transition-delay: .15s;
}

.menu__line-2 {
  top: calc(100% - .6vw);
}


/*
    set menu icon animation
  ================ */
.menu__icon.opened .menu__line-0 {
  animation: menuOpenLine1 .3s linear forwards;
}

.menu__icon.opened .menu__line-1 {
  opacity: 0;
}

.menu__icon.opened .menu__line-2 {
  animation: menuOpenLine2 .3s linear forwards;
}

.menu__icon.closed .menu__line-0 {
  animation: menuCloseLine1 .3s linear forwards;
}

.menu__icon.closed .menu__line-1 {
  opacity: 1;
}

.menu__icon.closed .menu__line-2 {
  animation: menuCloseLine2 .3s linear forwards;
}


/*
    menu icon animation
  ================ */
@keyframes menuOpenLine1 {
  50% {
    top: calc(50% - .3vw/2);
    transform: rotate(0);
  }

  100% {
    top: calc(50% - .3vw/2);
    transform: rotate(45deg);
  }
}

@keyframes menuOpenLine2 {
  50% {
    top: calc(50% - .3vw/2);
    transform: rotate(0);
  }

  100% {
    top: calc(50% - .3vw/2);
    transform: rotate(-45deg);
  }
}

@keyframes menuCloseLine1 {
  0% {
    top: calc(50% - .3vw/2);
    transform: rotate(45deg);
  }
  
  50% {
    top: calc(50% - .3vw/2);
    transform: rotate(0);
  }

  100% {
    top: .3vw;
  }
}

@keyframes menuCloseLine2 {
  0% {
    top: calc(50% - .3vw/2);
    transform: rotate(-45deg);
  }
  
  50% {
    top: calc(50% - .3vw/2);
    transform: rotate(0);
  }

  100% {
    top: calc(100% - .6vw);
  }
}


/* ================
    menu block
  ================ */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100%;
  background: #071f31;
  transition: transform .3s;
  transform: translateX(-100%);
  z-index: 1;
}

.menu.active {
  transform: translateX(0);
}

.menu__inner {
  position: absolute;
  left: 0;
  top: 7vw;
  width: 100%;
}

.menu__item {
  width: 100%;
  height: 3vw;
  line-height: 3vw;
  font-size: 1.5vw;
  color: #fff;
  cursor: pointer;
  padding-left: 2vw;
  margin-bottom: 1vw;
  box-sizing: border-box;
  transition: color .3s;
}

.menu__item:hover {
  color: #0175b5;
}

.menu__item.active {
  color: #1fafff;
}


/* ========================
  main
======================== */

/* .menu {
  position: absolute;
  bottom: 5vw;
  left: 5vw;
  width: 20vw;
  height: 20vw;
  z-index: 9;
}

.current-tab-title {
  position: absolute;
  left: calc(50% - 2.5vw);
  top: calc(50% - 2.5vw);
  width: 5vw;
  height: 5vw;
  font-size: 1.5vw;
  line-height: 5vw;
  text-align: center;
  border-radius: 5vw;
  background: #fff;
  box-shadow: 0 0 2vw #4a4a4a;
}

.circle-menu {
  position: absolute;
  left: calc(50% - 2.5vw);
  top: calc(50% - 2.5vw);
  width: 5vw;
  height: 5vw;
  border-radius: 5vw;
  z-index: 1;
  cursor: pointer;
}

.circle-menu__item {
  position: absolute;
  top: calc(50% - 2vw);
  left: calc(50% - 2vw);
  width: 4vw;
  height: 4vw;
  background: #fff;
  border-radius: 5vw;
  box-shadow: 0 0 1.5vw #4a4a4a;
  cursor: pointer;
  transform: translate(0vw, 0vw) scale(0);
  transition: transform .2s;
}

.menu__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  line-height: 1vw;
} */


/*
  animation moving
======================== */

/* .circle-menu.active {
  animation: rotateMenu 1.5s ease;
}

.circle-menu.active .circle-menu__item-0 {
  transform: translate(7vw, 0vw) scale(1);
}

.circle-menu.active .circle-menu__item-1 {
  transform: translate(3.5vw, 6vw) scale(1);
}

.circle-menu.active .circle-menu__item-2 {
  transform: translate(-3.5vw, 6vw) scale(1);
}

.circle-menu.active .circle-menu__item-3 {
  transform: translate(-7vw, 0vw) scale(1);
}

.circle-menu.active .circle-menu__item-4 {
  transform: translate(-3.5vw, -6vw) scale(1);
}

.circle-menu .circle-menu__item-0 {
  transition-delay: .0s;
}

.circle-menu .circle-menu__item-1 {
  transition-delay: .2s;
}

.circle-menu .circle-menu__item-2 {
  transition-delay: .4s;
}

.circle-menu .circle-menu__item-3 {
  transition-delay: .6s;
}

.circle-menu .circle-menu__item-4 {
  transition-delay: .8s;
} */


/* ========================
  animation
======================== */

/* @keyframes rotateMenu {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(-360deg)
  }
} */




/* ========================
  adaptive
======================== */
/* .menu {
  transform: scale(3);
  left: calc(50% - 10vw);
  bottom: 20vw;
} */