/* ================
    menu icon
  ================ */
.menu__icon {
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
  z-index: 2;
}

.menu__line {
  position: absolute;
  width: 100%;
  height: .3vw;
  background: #fff;
  transform-origin: center;
}

.menu__line-0 {
  top: .3vw;
}

.menu__line-1 {
  top: calc(50% - .3vw/2);
  transition-delay: .15s;
}

.menu__line-2 {
  top: calc(100% - .6vw);
}


/*
    set menu icon animation
  ================ */
.wrapper.menu-opened .menu__icon .menu__line-0 {
  animation: menuOpenLine1 .3s linear forwards;
}

.wrapper.menu-opened .menu__icon .menu__line-1 {
  opacity: 0;
}

.wrapper.menu-opened .menu__icon .menu__line-2 {
  animation: menuOpenLine2 .3s linear forwards;
}

.wrapper.menu-closed .menu__icon .menu__line-0 {
  animation: menuCloseLine1 .3s linear forwards;
}

.wrapper.menu-closed .menu__icon .menu__line-1 {
  opacity: 1;
}

.wrapper.menu-closed .menu__icon .menu__line-2 {
  animation: menuCloseLine2 .3s linear forwards;
}


/*
    menu icon animation
  ================ */
@keyframes menuOpenLine1 {
  50% {
    top: calc(50% - .3vw/2);
    transform: rotate(0);
  }

  100% {
    top: calc(50% - .3vw/2);
    transform: rotate(45deg);
  }
}

@keyframes menuOpenLine2 {
  50% {
    top: calc(50% - .3vw/2);
    transform: rotate(0);
  }

  100% {
    top: calc(50% - .3vw/2);
    transform: rotate(-45deg);
  }
}

@keyframes menuCloseLine1 {
  0% {
    top: calc(50% - .3vw/2);
    transform: rotate(45deg);
  }

  50% {
    top: calc(50% - .3vw/2);
    transform: rotate(0);
  }

  100% {
    top: .3vw;
  }
}

@keyframes menuCloseLine2 {
  0% {
    top: calc(50% - .3vw/2);
    transform: rotate(-45deg);
  }

  50% {
    top: calc(50% - .3vw/2);
    transform: rotate(0);
  }

  100% {
    top: calc(100% - .6vw);
  }
}


/* ================
    menu block
  ================ */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100%;
  background: #071f31;
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 1;
  transform-origin: left;
}

.wrapper.menu-opened .menu {
  transform: translateX(0);
}

.menu__inner {
  position: absolute;
  top: 7vw;
  left: 0;
  width: 100%;
}

.menu__item {
  width: 100%;
  height: 3vw;
  color: #fff;
  font-size: 1.5vw;
  line-height: 3vw;
  margin-bottom: 1vw;
  padding-left: 2vw;
  box-sizing: border-box;
  cursor: pointer;
  transition: color .3s;
}

.menu__item:hover {
  color: #0175b5;
}

.menu__item.active {
  color: #1fafff;
}