/* ========================
  main
======================== */

.menu {
  position: absolute;
  bottom: 5vw;
  left: 5vw;
  width: 20vw;
  height: 20vw;
  z-index: 9;
}

.current-tab-title {
  position: absolute;
  left: calc(50% - 2.5vw);
  top: calc(50% - 2.5vw);
  width: 5vw;
  height: 5vw;
  line-height: 5vw;
  text-align: center;
  border-radius: 5vw;
  background: #fff;
  box-shadow: 0 0 2vw #4a4a4a;
}

.circle-menu {
  position: absolute;
  left: calc(50% - 2.5vw);
  top: calc(50% - 2.5vw);
  width: 5vw;
  height: 5vw;
  border-radius: 5vw;
  z-index: 1;
  cursor: pointer;
}

.circle-menu__item {
  position: absolute;
  top: calc(50% - 2vw);
  left: calc(50% - 2vw);
  width: 4vw;
  height: 4vw;
  background: #fff;
  border-radius: 5vw;
  box-shadow: 0 0 1.5vw #4a4a4a;
  cursor: pointer;
  transform: translate(0vw, 0vw) scale(0);
  transition: transform .2s;
}

.menu__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  line-height: 1vw;
}


/*
  animation moving
======================== */

.circle-menu.active {
  animation: rotateMenu 1.5s ease;
}

.circle-menu.active .circle-menu__item-0 {
  transform: translate(7vw, 0vw) scale(1);
}

.circle-menu.active .circle-menu__item-1 {
  transform: translate(3.5vw, 6vw) scale(1);
}

.circle-menu.active .circle-menu__item-2 {
  transform: translate(-3.5vw, 6vw) scale(1);
}

.circle-menu.active .circle-menu__item-3 {
  transform: translate(-7vw, 0vw) scale(1);
}

.circle-menu.active .circle-menu__item-4 {
  transform: translate(-3.5vw, -6vw) scale(1);
}

.circle-menu .circle-menu__item-0 {
  transition-delay: .0s;
}

.circle-menu .circle-menu__item-1 {
  transition-delay: .2s;
}

.circle-menu .circle-menu__item-2 {
  transition-delay: .4s;
}

.circle-menu .circle-menu__item-3 {
  transition-delay: .6s;
}

.circle-menu .circle-menu__item-4 {
  transition-delay: .8s;
}


/* ========================
  animation
======================== */

@keyframes rotateMenu {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(-360deg)
  }
}