/*1200 | 992 | 767 | 550 */

/* ========================
  fonts
======================== */
@font-face {
	font-family: 'Jura';
	src: url('../fonts/Jura-Light.ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Jura';
	src: url('../fonts/Jura-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Jura';
	src: url('../fonts/Jura-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Jura';
	src: url('../fonts/Jura-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Jura';
	src: url('../fonts/Jura-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}


/* ========================
  main
======================== */
body {
  width: 100vw;
  height: 100vh;
  background: #051824;
  font-family: Arial;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Jura', sans-serif;
}

#particles-js {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* ========================
  preloader
======================== */
.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #051c2d;
  z-index: 99999;
  justify-content: center;
  align-items: center;
}

body:not(.loaded) .loader {
  display: flex;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  border: 8px solid #fff;
  border-color: #fff transparent transparent transparent;
  border-radius: 50%;
  margin: 8px;
  box-sizing: border-box;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* ========================
  content
======================== */
.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.content__tab-cube {
  width: 100vw;
  height: 100vh;
  color: #fff;
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
}

.perspective-animation .content {
  perspective: 3000px;
}

.perspective-animation .content__tab-cube {
  transform-style: flat;
}


/*
  text content
======================== */
.title {
  text-align: center;
}

.description {
  position: absolute;
  line-height: 1.5;
  box-sizing: border-box;
  pointer-events: none;
}


/*
  cube inner
======================== */
.current-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(transparent, #071f32);
  transform: translateZ(50vh);
  transform-origin: center;
}

.next-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(transparent, #071f32);
  transform: translateZ(-50vh) rotateX(90deg);
  transform-origin: top;
}

.menu-opened .next-tab {
  opacity: 0;
}


/*
  next tab position
======================== */
.next-tab__top .next-tab {
  transform: translateZ(-50vh) rotateX(90deg);
  transform-origin: top;
}

.next-tab__bottom .next-tab {
  transform: translateZ(-50vh) rotateX(-90deg);
  transform-origin: bottom;
}

.next-tab__left .next-tab {
  transform: translateZ(-50vw) rotateY(-90deg);
  transform-origin: left;
}

.next-tab__right .next-tab {
  transform: translateZ(-50vw) rotateY(90deg);
  transform-origin: right;
}

.next-tab__top .current-tab,
.next-tab__bottom .current-tab {
  transform: translateZ(50vh);
}

.next-tab__left .current-tab,
.next-tab__right .current-tab {
  transform: translateZ(50vw);
}


/*
  attache animation
======================== */
.content__tab-cube.next-tab__top {
  animation: rotateContentCubeTop 1.2s linear;
}

.content__tab-cube.next-tab__bottom {
  animation: rotateContentCubeBottom 1.2s linear;
}

.content__tab-cube.next-tab__left {
  animation: rotateContentCubeLeft 1.2s linear;
}

.content__tab-cube.next-tab__right {
  animation: rotateContentCubeRight 1.2s linear;
}


/* ========================
  adaptive
======================== */
@media screen and (min-width: 768px) {
  .content__tab-cube {
    transition: .5s;
  }

  .menu-opened .content__tab-cube {
    transform: translateZ(-1000px) translateX(20%) rotateY(-45deg);
  }

  /* 
    text content
  ======================== */
  .description {
    top: 15vw;
    left: 5vw;
    width: 50%;
    font-size: 2vw;
  }
}

@media screen and (max-width: 767px) {
  .content__tab-cube {
    transition: .3s;
  }

  .menu-opened .content__tab-cube {
    transform: translateX(100%);
  }

  /*
    text content
  ======================== */
  .description {
    bottom: 15vw;
    width: 100vw;
    font-size: 5vw;
    text-align: center;
    padding: 0 5vw;
  }
}


/* ========================
  animation
======================== */
@keyframes rotateContentCubeTop {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(.7);
  }

  70% {
    transform: scale(.7) rotateX(-90deg);
  }

  100% {
    transform: scale(1) rotateX(-90deg);
  }
}

@keyframes rotateContentCubeBottom {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(.7);
  }

  70% {
    transform: scale(.7) rotateX(90deg);
  }

  100% {
    transform: scale(1) rotateX(90deg);
  }
}

@keyframes rotateContentCubeLeft {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(.7);
  }

  70% {
    transform: scale(.7) rotateY(90deg);
  }

  100% {
    transform: scale(1) rotateY(90deg);
  }
}

@keyframes rotateContentCubeRight {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(.7);
  }

  70% {
    transform: scale(.7) rotateY(-90deg);
  }

  100% {
    transform: scale(1) rotateY(-90deg);
  }
}


/* ========================
  imports css files
======================== */
@import url(./menu.css);
@import url(./cube.css);
@import url(./navigation-keyboard.css);
@import url(./tabs/main.css);
@import url(./tabs/about.css);
@import url(./tabs/skills.css);
@import url(./tabs/project.css);
@import url(./tabs/contact.css);