.our-projects-tab .description {
  top: 50%;
  left: 50%;
  width: 80%;
  height: 90%;
  transform: translate(-50%, -50%);
}

.project__list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1vw;
}

.project__item {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 10px #015b8f;
  border: 1px solid #015b8f;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
}

.project__item:hover {
  box-shadow: 0 0 20px 5px #015b8f;
}

.project__item-0 {
  grid-column: 1/3;
}

.project__item-1 {
  grid-column: 3;
  grid-row: 1/3;
}


/* project bg */
.project__image {
  width: 100%;
  height: 100%;
  filter: brightness(.3);
  transition: all .5s;
}

.project__item:hover .project__image {
  filter: brightness(.7);
  transform: scale(1.05);
}

.project__item-0 .project__image {
  background: url(../images/projects/project-0.jpg) center no-repeat;
  background-size: cover;
}

.project__item-1 .project__image {
  background: url(../images/projects/project-1.jpg) center no-repeat;
  background-size: cover;
}

.project__item-2 .project__image {
  background: url(../images/projects/project-2.jpg) center no-repeat;
  background-size: cover;
}

.project__item-3 .project__image {
  background: url(../images/projects/project-3.jpg) center no-repeat;
  background-size: cover;
}

.project__item-4 .project__image {
  background: url(../images/projects/project-4.jpg) center no-repeat;
  background-size: cover;
}

.project__item-5 .project__image {
  background: url(../images/projects/project-5.jpg) center no-repeat;
  background-size: cover;
}