/* ========================
  main
======================== */
.main-tab .page__images {
  position: absolute;
  top: 10vh;
  background: url(../../images/main/logo.png) 50% 10% no-repeat;
  background-size: contain;
  filter: drop-shadow(0vw 0vw .2vw #015b8f) brightness(0);
  pointer-events: none;
}

.main-tab .description {
  top: auto;
  left: 0;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
}

.current-tab .main-tab .page__images {
  animation: turnOn 1s linear .5s forwards;
}


/* ========================
  adaptive
======================== */
@media screen and (min-width: 768px) {
  .main-tab .page__images {
    left: 25vw;
    bottom: 30vh;
    width: 50vw;
  }

  .main-tab .description {
    bottom: 8vw;
    padding: 0 15vw;
  }
}

@media screen and (max-width: 767px) {
  .main-tab .page__images {
    left: 15vw;
    bottom: 40vh;
    width: 70vw;
  }

  .main-tab .description {
    bottom: 15vw;
    padding: 0 5vw;
  }
}

/* ========================
  animation
======================== */
@keyframes turnOn {
  18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    filter: drop-shadow(0vw 0vw .5vw #015b8f) brightness(1);
  }

  0%, 18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%  {
    filter: drop-shadow(0vw 0vw .2vw #015b8f) brightness(0);
  }

  100% {
    filter: drop-shadow(0vw 0vw 1vw #015b8f) brightness(1.5);
  }
}